<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 연결 -->
<!-- mapper namespace = "package명.인터페이스명" -->
<mapper namespace="com.gck.admin.model.AdminDAO">
    <!-- 해당 sql을 인터페이스에 선언된 메서드와 연결해서 처리. -->
    <!-- id="메서드명" parameterType "매개변수 타입" resultType 리턴 타입(풀 패키지명) -->
    <select id="selectAdminList" resultType="com.gck.admin.model.AdminVO">
        select a.admin_idx, a.admin_id
        from admins as a
    </select>

    <select id="selectAdmin" parameterType="String" resultType="com.gck.admin.model.AdminVO">
        select a.admin_idx, a.admin_id
        from admins as a
        where a.admin_idx = #{admin_id}
    </select>

    <delete id="deleteAdmin" parameterType="String">
        delete from admins a
        where a.admin_idx = #{admin_id}
    </delete>

</mapper>
