<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 연결 -->
<!-- mapper namespace = "package명.인터페이스명" -->
<mapper namespace="com.gck.member.model.MemberDAO">
    <!-- 해당 sql을 인터페이스에 선언된 메서드와 연결해서 처리. -->
    <!-- id="메서드명" parameterType "매개변수 타입" resultType 리턴 타입(풀 패키지명) -->
    <select id="getMemberIdx" parameterType="java.util.HashMap" resultType="Integer">
        select m.member_idx
        from members as m
        join password_members as p
        on m.member_idx = p.member_idx
        where m.member_id = #{memberId} and p.password_member = #{passwordMember}
    </select>

    <select id="getMemberIdxById" parameterType="String" resultType="Integer">
        select member_idx
        from members
        where member_id = #{memberId}
    </select>

    <insert id="insertMember" parameterType="java.util.HashMap">
        insert into members(member_id, member_nickname, member_email, member_zonecode, member_address, member_address_detailed)
        VALUE(#{memberId}, #{memberNickname}, #{memberEmail}, #{memberZonecode}, #{memberAddress}, #{memberAddressDetailed});
    </insert>

    <select id="searchId" parameterType="String" resultType="Integer">
        select count(*)
        from members
        where member_id = #{memberId}
    </select>

    <select id="searchNickname" parameterType="String" resultType="Integer">
        select count(*)
        from members
        where member_nickname = #{memberNickname}
    </select>

    <select id="searchEmail" parameterType="String" resultType="Integer">
        select count(*)
        from members
        where member_email = #{memberEmail}
    </select>

    <select id="selectNickname" parameterType="Integer" resultType="String">
        select member_nickname
        from members
        where member_idx = #{memberIdx}
    </select>
</mapper>