<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 연결 -->
<!-- mapper namespace = "package명.인터페이스명" -->
<mapper namespace="com.gck.member.model.PasswordMemberDAO">
    <!-- 해당 sql을 인터페이스에 선언된 메서드와 연결해서 처리. -->
    <!-- id="메서드명" parameterType "매개변수 타입" resultType 리턴 타입(풀 패키지명) -->
    <insert id="insertPassword" parameterType="com.gck.member.model.PasswordMemberVO">
        insert into password_members(member_idx, password_member)
        VALUE(#{memberIdx}, #{passwordMember});
    </insert>


</mapper>