<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 연결 -->
<!-- mapper namespace = "package명.인터페이스명" -->
<mapper namespace="com.gck.post.model.PostImageDAO">
    <insert id="insertPostImage" parameterType="com.gck.post.model.PostImageVO">
        INSERT
        INTO post_images(post_idx, post_image_path, post_t_image_path)
        VALUES(#{postIdx}, #{postImagePath}, #{postTImagePath})
    </insert>

    <delete id="deletePostImage">
        delete
        from post_images
        where post_image_idx = #{postImageIdx}
    </delete>

    <update id="updatePost" parameterType="com.gck.post.model.PostVO">
        update posts
        set title = #{title}, name = #{name},
            content = #{content}, ofile = #{ofile}, sfile = #{sfile}
        where idx = #{idx} and pass = #{pass}
    </update>
</mapper>