<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 연결 -->
<!-- mapper namespace = "package명.인터페이스명" -->
<mapper namespace="com.gck.post.model.PostImageDAO">
    <insert id="insertPostImage" parameterType="com.gck.post.model.PostImageVO">
        INSERT
        INTO post_images(post_idx, post_image_path, post_t_image_path)
        VALUES(#{postIdx}, #{postImagePath}, #{postTImagePath})
    </insert>

    <delete id="deletePostImage">
        delete
        from post_images
        where post_image_idx = #{postImageIdx}
    </delete>

    <update id="updatePostImage" parameterType="com.gck.post.model.PostImageVO">
        update post_images
        set post_image_path = #{postImagePath}, post_t_image_path = #{postTImagePath}
        where post_image_idx = #{postImageIdx}
    </update>

    <select id="selectAllPostImageList" parameterType="map" resultType="com.gck.post.model.PostImageVO">
        select *
        from post_images
        where post_idx > 0;
    </select>

    <select id="getPostImagesByPostIdx" resultType="com.gck.post.model.PostImageVO">
        SELECT * FROM post_images WHERE postIdx = #{postIdx}
    </select>
</mapper>