<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 연결 -->
<!-- mapper namespace = "package명.인터페이스명" -->
<mapper namespace="com.gck.post.model.PostDAO">
    <!-- 해당 sql을 인터페이스에 선언된 메서드와 연결해서 처리. -->
    <!-- id="메서드명" parameterType "매개변수 타입" resultType 리턴 타입(풀 패키지명) -->
<!--    <select id="selectListPage" parameterType="map" resultType="com.gck.post.model.PostVO">-->
<!--        select p.post_idx-->
<!--        from posts as p-->
<!--        join post_image_idx as pi-->
<!--        on p.post_idx = pi.post_idx-->
<!--        where p.post_idx = #{postIdx}-->
<!--    </select>-->

    <insert id="insertPost" parameterType="com.gck.post.model.PostVO"
            useGeneratedKeys="true" keyColumn="post_idx" keyProperty="postIdx">
        INSERT
        INTO posts(member_idx, post_title, post_content, board_idx)
        VALUES(#{memberIdx}, #{postTitle}, #{postContent}, #{boardIdx})
    </insert>

    <select id="selectView" parameterType="String" resultType="com.gck.post.model.PostVO">
        select *
        from posts
        where post_idx = #{postIdx}
    </select>

    <update id="updateVisitCount" parameterType="integer">
        update posts
        set postVisitcount = postVisitcount + 1
        where postIdx = #{postIdx}
    </update>


</mapper>