<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gck.reply.model.ReplyDAO">
    <!-- 댓글 목록 -->
    <select id="getReplies" parameterType="int" resultType="com.gck.reply.model.ReplyDTO">
        SELECT r.reply_idx, m.member_nickname, r.reply_content, r.reply_write_date
        from members as m
                 join replies as r
                      on m.member_idx = r.member_idx
        where r.post_idx = #{postIdx}
    </select>

    <!-- 삽입 -->
    <insert id="createReplies"  parameterType="com.gck.reply.model.ReplyVO">
        INSERT INTO replies (post_idx, reply_content, member_idx, reply_parent_no, reply_depth_no, reply_orderid)
        VALUES (#{postIdx}, #{replyContent}, #{memberIdx}, 0, 0, 0)
    </insert>

    <!-- 삽입, 업데이트, 삭제 추가 예정) -->
</mapper>